.AlbumContent {
  background-color: rgba(239, 243, 249, 1);
}

.album-header {
  background-image: linear-gradient(45deg, #003be5, #01b9e3, #01d5e2);
  color: white;
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
  height: 30vh;
}

.album-cape {
  border-radius: 12px;
  box-shadow: -9px 8px 8px rgba(68, 73, 85, 0.2);
  height: 240px;
  left: 300px;
  position: absolute;
  top: 13vh;
  width: 240px;
}

.name-n-artist {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 35px;
  margin-left: 330px;
}

.album-title {
  font-size: 20px;
  font-weight: 700;
}

.album-artist {
  font-size: 14px;
  font-weight: 400;
}

.musics-list {
  margin-left: 330px;
}
