.AlbumNotFound {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.not-found-icon {
  height: 69px;
  margin-bottom: 20px;
  width: 69px;
}

.not-found-message {
  color: #c0c3c9;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}
