.main-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 250px;
  min-height: 100vh;
}

.main-content .Loading {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  margin-top: -30px;
}

.main-content .loading-icon {
  height: 61px;
  margin-bottom: 20px;
  width: 61px;
}

.main-content .loading-message {
  color: #c0c3c9;
  font-size: 49px;
  font-weight: 400;
}
