@keyframes spin {

  from { transform: rotate(0deg); }

  to { transform: rotate(360deg); }
}

.Loading {
  display: flex;
}

.loading-icon {
  animation: spin 1s infinite;
  transform: rotate(0deg);
}

.loading-message {
  font-family: sans-serif;
  text-transform: lowercase;
}
