.NavBar {
  align-items: center;
  font-family: sans-serif;
  height: fit-content;
  margin-bottom: 120px;
  width: 100%;
}

.links-list {
  list-style: none;
  padding: 0;
}

.links-list li {
  display: flex;
}

.links-list a {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  text-decoration: none;
  width: 100%;
}

.links-list span {
  color: #444955;
  font-size: 16px;
}

.links-list a:hover {
  background-color: #ddd;
}

.links-list img {
  margin-right: 14px;
}
