.profile-header {
  height: 30vh;
  background-image: linear-gradient(45deg, #003be5, #01b9e3, #01d5e2);
}

.main-section .Loading {
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-section .loading-icon {
  width: 61px;
  height: 61px;
  margin-bottom: 20px;
}

.main-section .loading-message {
  font-size: 50px;
  font-weight: 400;
  color: rgba(192, 195, 201, 1);
}

.profile-image {
  width: 240px;
  height: 240px;
  position: absolute;
  top: 75px;
  left: 300px;
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50%
}

.infos-list {
  list-style: none;
}

.profile-form {
  margin-left: 340px;
}

.profile-form label {
  font-size: 16px;
  font-weight: 700;
  color: #3D495C;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  width: 288px;
  margin-top: 30px;
}

.profile-form p {
  font-weight: 400;
  font-size: 12px;
  margin-top: 5px;
}

.infos-list input {
  border: none;
  border-bottom: 1px solid #3D495C;
  background-color: white;
  height: 40px;
  font-size: 14px;
  margin-top: 10px;
  padding-left: 10px;
}

.infos-list textarea {
  border: none;
  border-bottom: 1px solid #3D495C;
  background-color: white;
  height: 106px;
  width: 490px;
  resize: none;
  font-size: 14px;
  padding: 10px 0 0 10px;
  margin-top: 10px;
}

.image-input {
  background-color: transparent;
  position: absolute;
  left: 330px;
  top: 330px;
  width: 192px;
  height: 37px;
  border-radius: 2px;
  border: 1px solid rgba(68, 73, 85, 1);
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}

.image-input::placeholder {
  color: rgba(68, 73, 85, 1);
}

.edit-profile-btn {
  background-color: rgba(0, 59, 229, 1);
  width: 152px;
  height: 40px;
  text-transform: uppercase;
  color: white;
  font-size: 14px;
  font-weight: 700;
  border-radius: 100px;
  margin-top: 30px;
  border: none;
  cursor: pointer;
}

.edit-profile-btn:disabled {
  background-color: lightblue;
}

