.Search {
  align-items: flex-start;
  display: flex;
  justify-items: flex-end;
}

.search-main {
  align-items: center;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 250px;
  min-height: 100vh;
}

.Search .Loading {
  align-items: center;
  background-color: transparent;
  flex-direction: column;
  flex-grow: 1;
  height: inherit;
  justify-content: center;
}

.Search .loading-icon {
  height: 61px;
  margin-bottom: 20px;
  width: 61px;
}

.Search .loading-message {
  color: rgba(192, 195, 201, 1);
  font-size: 50px;
  font-weight: 400;
}
