.SideBar {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 100vh;
  justify-content: space-between;
  padding: 35px 0;
  position: fixed;
  width: 250px;
}

.Logo {
  height: 95px;
  width: 170px;
}

.SideBar .Loading {
  align-items: center;
  background-color: white;
  flex-direction: row;
  height: 40px;
  justify-content: center;
}

.SideBar .loading-icon {
  height: 40px;
  margin: 0;
  margin-right: 10px;
  padding: 0;
  width: 40px;
}

.SideBar .loading-message {
  color: #003be5;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
