.UserCard {
  align-items: center;
  display: flex;
  justify-content: center;
}

.side-user-img {
  border-radius: 50%;
  height: 40px;
  margin-right: 10px;
  width: 40px;
}

.username {
  color: rgba(68, 73, 85, 1);
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
}
